config MARVELL_BT_EWM_W306_ADVANTECH
	tristate "Marvell EWM_W306 Bluetooth driver support add by Advantech"
	depends on  MMC
	help
	  The core driver to support Marvell Bluetooth devices.

	  This driver is required if you want to support
	  Marvell Bluetooth devices 8897.

	  Say Y here to compile Marvell Bluetooth driver
	  into the kernel or say M to compile it as module.

