config MARVELL_WIFI_AW178_ADVANTECH
	tristate "Marvell AW178 WiFi-Ex Driver Add by Advantech"
	depends on CFG80211
	---help---
	  This adds support for wireless adapters based on Marvell
	  802.11n/ac chipsets.

	  If you choose to build it as a module, it will be called
	  mwifiex.

